<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.go.manadokota.e_office">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PanelActivity"
            android:label="@string/title_activity_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PengaturanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PanelActivity" />
        </activity>
        <activity android:name=".InboxActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PanelActivity" />
        </activity>

        <service
            android:name=".SocketService"
            android:exported="false" />

        <activity android:name=".BacaInboxActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InboxActivity" />
        </activity>
        <activity android:name=".ComposeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PanelActivity" />
        </activity>
        <activity android:name=".PilihPenerimaSurat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BacaInboxActivity" />
        </activity>
        <activity android:name=".BuatDisposisiActivity" />
        <activity android:name=".OutboxActivity" />
        <activity android:name=".BacaOutboxActivity" />
        <activity android:name=".DisposisiMasuk">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PanelActivity" />
        </activity>
        <activity android:name=".BacaDmasukActivity" />
        <activity android:name=".DisposisiKeluar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PanelActivity" />
        </activity>
        <activity android:name=".BacaDkeluarActivity"></activity>
    </application>

</manifest>